@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');
:root {
    --round-radius: 15px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Epilogue', sans-serif;
}

header {
    text-align: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(34, 60, 80, 0.2);
    box-shadow: rgb(3 27 78 / 10%) 0px 2px 4px 0px;
    z-index: 1;
}

.wrap {
    margin: 10px;
    margin-top: 0;
    background-color: #ffa;
    display: flex;
    justify-content: space-between;
}

.sticky-block {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.round-bottom {
    border-bottom-left-radius: var(--round-radius);
    border-bottom-right-radius: var(--round-radius);
}

.round-top {
    border-top-left-radius: var(--round-radius);
    border-top-right-radius: var(--round-radius);
}

nav {
    border-bottom-left-radius: var(--round-radius);
    background-color: burlywood;
}

main {
    flex: 1;
    background-color: white;
}

aside {
    border-bottom-right-radius: var(--round-radius);
    background-color: red;
}

footer {
    height: 40px;
    background-color: darkgray;
}